// since using dFlex multiple times, we can put it inside functions
// to avoid repetition of code
@mixin flexCenter($direction,$background ){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: $direction;
    background: $background;
}
@import './variables';
header{
    @include flexCenter(column, skyblue); // this is the same as writing flexCenter(); 
    // background: lightblue;
    height: 100vh;
    color: $textColor;
    button{
        background: $primaryBtn;
        // for hover we can use the following
        &:hover{
            background: green;
        }
        // for after and before we can use the following
        &::after{
            content: "after";
            padding: 20px;
            margin: 1rem;
            cursor: pointer;
            width: 100%;
            object-fit: cover;
            background: url("https://img.search.brave.com/124s5XpPSX3gg5CDVJH_ph7cjVvibcW9t0wKsgDOFQI/rs:fit:844:225:1/g:ce/aHR0cHM6Ly90c2U0/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5Q/WWlwSl9oU25jdWdN/MlN3blppdHZnSGFF/SyZwaWQ9QXBp");
        }
        &::before{
            content: "before";
            background:red;
            border-radius: 15px 40px 30px 0;
            margin: 1rem;
            cursor: progress;
        }
    }
}